{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
                <div class="card">
                    <p class="card-text">Окно входа</p>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
                </div>
        </div>
    </form>
</div>
{% endblock %}