{% extends 'catalog/home.html' %}
{% load image %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
                <div class="card">
                    <p class="card-text">Редактирование продукта</p>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    {% if object %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Создать</button>
                    {% endif %}
                </div>
        </div>
        <div class="col-6">
            <div class="card">
                <p class="card-text">Редактирование версии</p>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}